// color variables

$color-base:        #FFFFFF;
$color-light:       #FAFAFA;
$color-soft:        #A0A0A0;
$color-text:        #404040;
$color-headlines:   #000000;

$color-inv-base:    $color-headlines;
$color-inv-text:    $color-base;

$color-primary:       #0031FF;
$color-primary-dark:  #0029D6;
$color-primary-light: #8CA2FF;

$color-error:       brickred;
$color-success:     mediumseagreen;
$color-info:        dodgerblue;
$color-warning:     gold;
