header.header
  h1.header__title.title
    a.title__link
      strong Generally
      span OK

  .header__logo.logo

  nav.header__nav.nav
    button#skipNav.nav__skip Skip Navigation
    ul.nav__list
      li.nav__spacer
      li.nav__item
        button.nav__link Blog
      li.nav__item
        button.nav__link Projects
      li.nav__item
        a.nav__link GH
