.columns {
  @include break(580px) {
    display: flex;
  }
}

.column {
  @include break(580px) {
    flex: 1;

    & + & {
      margin-left: columns(1);
    }
  }

  @include break(tablet) {
    & + & {
      margin-left: columns(1, 10);
    }
  }

  @include break(tablet-l) {
    &.-third {
      flex: 0 0 columns(3);
    }

    & + & {
      margin-left: columns(1);
    }
  }

  @include break(desktop) {
  }
}
